<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Pokemons</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li [routerLinkActive]="['active']"><a [routerLink]="['home']">Home </a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['pokemons']">Pokemons</a></li>        
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
	      <form class="navbar-form navbar-left" role="search">
	        <div class="form-group">
	          <input type="text" class="form-control" placeholder="Search" (keyup.enter) = "searchPokemon(searchpokemonval.value)" #searchpokemonval>
	        </div>
	        <button type="button" (click) = "searchPokemon(searchpokemonval.value)" class="btn btn-default">Search</button>
	      </form>
      </ul>
    </div>
  </div>
</nav>